body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: black;
  color: white; /* to ensure text is visible on a dark background */
}

a {
  color: #eead14;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #916600;
}

#nav a.active-link {
  color: #eead14;
}
